<div class="card">
  <div class="card-body">
    <div class="row ">
      <div class="col-md-10">
        <input class="form-control " type="text" name="" value="" [(ngModel)] = "search_name"  (ngModelChange)="searchPatient($events)">
      </div>

      <div class="col-md-1 no-padding">
        <button type="button" class="btn btn-default" routerLink="/dashboard/add/patient" routerLinkActive="active">
          <i class="fa fa-plus"></i>
        </button>
      </div>
      <div class="col-md-1 no-padding">
        <button type="button" class="btn btn-default">
          <i class="fa fa-user"></i>
        </button>
      </div>
    </div>
    <hr/>
    <div class="d-flex flex-row  justify-content-center spinner-row">
        <spinner *ngIf = "showSpinner"></spinner>
    </div>
    <ul class="patients">
      <li *ngFor = "let patient of patients | async" class="patient-row"  (click) = "onPatientSelected(patient)">
        <h4 class="name">{{patient.name}}</h4>
        <div class="progress">
          <div class="progress-bar" role="progressbar" [style.width.%]="patient.progress" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
            {{patient.progress}}%
            </div>
        </div>
      </li>
    </ul>
  </div>
</div>
