<ul class="list-group list-group-flush patient-info-list">
  <li class="list-group-item patient-info">
    ФИО: {{selectedPatient.name}}
  </li>
  <li class="list-group-item patient-info">
    ИИН: {{selectedPatient.iin}}
  </li>
  <li class="list-group-item patient-info">
    Телефон: {{selectedPatient.phone}}
  </li>
  <li class="list-group-item patient-info">
    Пол: {{selectedPatient.sex}}
  </li>
  <li class="list-group-item patient-info">
    Курс лечения: ....
  </li>
  <li class="list-group-item patient-info">
    Медикаменты:  <span routerLink="/dashboard/patient/Oot4dTTL4KB6nfdaSCID" routerLinkActive="active" class="link">Посмотреть все</span>
  </li>
</ul>
